*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.profile-img{
    background-color: #282A91 ;
    border-radius: 50%;
}
.btn-primary{
    color: white;
    background-color: #282A91;
}
.btn-primary:hover{
    background-color: #1F206F;
}
.btn-outline-dark{
    border:1px solid #1F206F;
    color:#1F206F;
}
.btn-outline-dark:hover{
    background-color: #1F206F;
} 