*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.profile-img{
    background-color: #474AFF ;
    border-radius: 50%;
}

.btn-primary{
    color: white;
    background-color: #474AFF;
}
.btn-primary:hover{
    background-color: #3c3ed4;
}
.btn-outline-dark{
    border:1px solid #474AFF;
    color:#474AFF;
}
.btn-outline-dark:hover{
    background-color: #3c3ed4;
} 
.title{
    text-align: center;
}


nav{
    background-color:#f8f9fa;
    border-bottom: 1px solid #8f94999c;
}


/* about seciton css */
#About{
    background-color: #474aff2a;
}
#About .info{
    background-color: #6869aa75;
    border-radius: 8px;
}


/* works section css */
/* #Works{
    background-color: #474AFF;
} */
#Works .card-body{
    border-top: 1px solid #8f94999c;
}


/* contact section */
#Contact{
    background-color: #474aff2a;
}